body {
  font-family: Verdana;
  background-color: gainsboro;
}

h1 {
  font-weight: bold;
  padding: 10px;
}

img {
  width: 100%;
}

.sidebar {
 width: 30%;
 padding: 10px;
 border: solid black;
 border-width: 2px;
 margin: 5px;
 background-color: lightblue;
 box-sizing: border-box;
 float: left;
}

.my-projects {
 width: 65%;
 float: right;
}

.repo li a {
  font-style: italic;
}

.live li a {
  font-style: italic;
}