body {
  font-family: Verdana;
}

img {
  width: 100%;
}

.sidebar {
 width: 300px;
 padding: 10px;
 border: solid black;
 border-width: 2px;
 background-color: lightblue;
 box-sizing: border-box;
 float: left;
}

.my-projects {
  width: 60%;
}
